body { background: #222; font-family: sans-serif;}
.container { margin:auto; text-align: center;}
.container a {text-decoration: none; font-weight: bold; font-size: 100pt; color:white; opacity: .2}
a.nav { position:absolute; top:0; display: block; height: 100%; background: green;}
a.nav.right {right:0;}
a.nav.left {left:0;}
a.nav span { position:absolute; top:50%;}
a.nav.right span { right:0;}
a.nav.left span { left:0;}
.fit { max-width: 100%; max-height: 100%; }